@using RazorTodo
@using Pa
@model List<LipEntry>
<html>
	<head><link rel="stylesheet" href="style.css" /></head>
<body>
	<h1>HybridRazorTodo <a href="hybrid:AddTask?"><img src="plus.png"/></a></h1>
	<table>
	@foreach (var entry in @Model) {
		<tr>
            <td>@entry.phonetic</td>
            <td>@entry.gloss</td>
            <td>@entry.pos</td>
            <td>@entry.cvPat</td>
            <td>@entry.myRef</td>
		</tr>
	}
	</table>
</body>
</html>